@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .button-side-hover {
    @apply relative overflow-hidden rounded-full border border-[1px] border-black px-4 py-2 font-medium transition-colors bg-black;
    @apply before:absolute before:left-0 before:top-0 before:h-full before:w-full before:origin-top-left before:scale-x-0 before:rounded-full before:bg-[#0AE448] before:transition-transform before:duration-500 before:content-[''];
    @apply text-white hover:text-black before:hover:scale-x-100;
    @apply z-[1] before:-z-[1];
  }
  .categories-side-hover {
    @apply relative overflow-hidden rounded-full px-4 py-2 font-medium transition-colors bg-white;
    @apply before:absolute before:left-0 before:top-0 before:h-full before:w-full before:origin-top-left before:scale-x-0 before:rounded-full before:bg-[#0AE448] before:transition-transform before:duration-500 before:content-[''];
    @apply text-black before:hover:scale-x-100;
    @apply z-[1] before:-z-[1];
  }
  .link-underline {
    @apply relative cursor-pointer overflow-hidden before:absolute before:bottom-0 before:bg-[#0AE448] before:left-0 before:h-[2px] before:w-full before:origin-left before:scale-x-0 before:transition-transform before:duration-300 before:ease-in-out before:content-[''] hover:before:scale-x-100;
  }
  #img-text {
    @apply rotate-[-90deg] duration-500 ease-in-out bg-[#0AE448] rounded-full;
  }
  #block-cont:hover > #img-text {
    @apply rotate-[0deg] left-12 bg-[#FFFCE1] w-[20rem] text-black;
  }
  #block-cont:hover > #arrow-icon {
    @apply top-3 right-3 duration-500 ease-in-out;
  }
  #card-redirect:hover > #redirect-icon {
    @apply top-4 right-4 duration-500 ease-in-out;
  }
}

#arrow-icon-sm {
  @apply top-3 right-3;
}
#img-text-sm {
  @apply rotate-[0deg] left-12 bg-[#0AE448] w-[23rem] text-black rounded-full;
}

#img-text {
}
#block-cont {
}

@layer base {
  :root {
    --text-color: #374150;
    --font-sans: "Inter", sans-serif;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
